{% extends 'utilities/base.html' %}
{% load static %}

{% block body %}

    <div class="container position-absolute top-50 start-50 translate-middle w-50">
        <h1>Welcome to {{get_app_name}}</h1>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="inputUsername" class="form-label">Username</label>
              <input type="text" class="form-control" id="inputUsername" name="inputUsername">
            </div>
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Password</label>
              <input type="password" class="form-control" id="inputPassword" name="inputPassword">
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
            <a href="{% url 'password_reset' %}"><button type="button" class="btn btn-danger">Forgot your password?</button></a>
          </form>
          <br>
          <div class="row">
            <div class="col">
              <a href="{% url 'admin:index' %}">
                <button type="submit" class="btn btn-info" style="color: white;">Redirect for Staff Log In >></button>
              </a>
            </div>
            <div class="col">
              <a href="{% url 'register' %}">
                <button type="submit" class="btn btn-warning" style="color: white;">Redirect to Register >></button>
              </a>
            </div>
          </div>
    </div>

{% endblock %}