{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {{get_app_name}} {% endblock %}</title>
    <link
      rel="stylesheet"
      href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'toast/toast.min.css' %}">
    <script src="{% static 'toast/toast.min.js' %}"></script>
  </head>
  <body>
    {% if messages %}
      {% for message in messages %}
          <script>
              new Toast({
                  message: '{{ message }}',
                  type: '{{ message.tags }}'
              });

          </script>
      {% endfor %}
    {% endif %}
    
    {% if request.user.is_authenticated %}
        {% include 'utilities/header.html' %}
    {% endif %}

    {% block body %}

    {% endblock %}
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>
