{% extends 'utilities/base.html' %} {% load static %} {% block body %}
<div class="container">
  <div class="row">
    <div class="col-3"></div>
     <div class="col-6">
        <h3>Update Password</h3>
      <form method="post" action="{% url 'candidate:update_password' %}">
        {% csrf_token %}
        <div class="mb-3">
          <label for="inputOldPassword" class="form-label">Old Password</label>
          <input
            type="password"
            class="form-control"
            id="inputOldPassword"
            name="inputOldPassword"
          />
        </div> 
        <div class="mb-3">
          <label for="inputNewPassword" class="form-label">New Password</label>
          <input
            type="password"
            class="form-control"
            id="inputNewPassword"
            name="inputNewPassword"
          />
        </div>
       
        <div class="mb-3">
          <label for="inputReNewPassword" class="form-label">Re-New Password</label>
          <input
            type="password"
            class="form-control"
            id="inputReNewPassword"
            name="inputReNewPassword"
          />
        </div>
        <button type="submit" class="btn btn-success">Update Password</button>
      </form>
      <br>
      <a href="{% url 'candidate:profile' %}">
        <button type="submit" class="btn btn-info" style="color: white;">Redirect to Update Profile >></button>
      </a>
    </div>
    <div class="col-3"></div>
  </div>
</div>
{% endblock %}
